*{
    margin: 0;
    padding: 0;
}

:root{
    
}

.cabecalho{
background-color: aquamarine;
padding: 50px;
display: flex;
}

.corpo{
background-color: rgb(255, 255, 255);
}

.footer{
background-color: black;
}

h2{
   text-align: center;
}